<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587234836227-35e4nuag9fvuh85sjbboe7q0vj66pq10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587234836227-35e4nuag9fvuh85sjbboe7q0vj66pq10</string>
	<key>API_KEY</key>
	<string>AIzaSyDbVTZDoucqBqtIuj_Zk79RnN6XgITd6UM</string>
	<key>GCM_SENDER_ID</key>
	<string>587234836227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-b3524</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-b3524.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587234836227:ios:35be42e14f182dc703b336</string>
</dict>
</plist>